html
	head
		title Youtube mp3 Downloder
		script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(type="text/javascript", src="/js/func.js")
		link(rel="stylesheet", href="/css/header.css")
		block scripts
	body
		header
			section.logo !{logo}
			section.profile
				img(src="/images/profile.png")
				span ANTIWEB
		block content
