@import url(http://cdn.jsdelivr.net/korean-webfonts/1/corps/google/NotoSansKR/NotoSansKR.css)
@font-face {
  font-family: 'Youth';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff') format('woff');
}
body
	padding 0 0
	margin 0 0
	font-size 16px
	font-family "NotoSansKR", sans-serif
	background-color #EEEEEE
	p
		margin 0 0
		line-height 1.25
	header
		width 100%
		height 4em
		background-color #212121
		text-align left
		font-size 1.15em
		display inline-block
		.logo, .profile
			width 50%
			position absolute
		.logo
			svg
				width 15em
				height 2.5em
				margin .75em 0
				.textSVG 
					fill white
		.profile
			text-align right
			right 0
			padding 0 .25em
			img
				width 3em
				height 3em
				border-radius 3em
				margin .4em
				border 2px
				border-style solid
				border-color #607D8B
			span
				position relative
				bottom 2em
				padding 1.5em .5em
				font-size .8em
				font-weight 600
				color #78909C
		p
			color #FFF
			line-height 2.25
			font-weight 900